<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.passelvi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasSelvi">
        <activity
            android:name=".fotopolisi"
            android:exported="true" />
        <activity
            android:name=".fotofotografer"
            android:exported="true" />
        <activity
            android:name=".fotodokter"
            android:exported="true" />
        <activity
            android:name=".fotochef"
            android:exported="true" />
        <activity
            android:name=".polisi"
            android:exported="true" />
        <activity
            android:name=".fotograper"
            android:exported="true" />
        <activity
            android:name=".dokter"
            android:exported="true" />
        <activity
            android:name=".chef"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>